@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>We are here to take trash and chew bubble gum, and we are all out of gum!</p>
</div>
<center><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRxRCCzdBVGCNaoIeKdM5Wd7DzonHfK18q0l_8YAjn5xoWPLEtE&usqp=CAU"></center>
